.dpr-x1 .x-gradient-orange, .dpr-x1 .x-gradient-beige, .dpr-x1 .x-gradient-green {
  background-image: url('../images/x-repeatable-bg/x1-s27ff187fde.png');
  background-repeat: repeat-x;
}

.dpr-x2 .x-gradient-orange, .dpr-x2 .x-gradient-beige, .dpr-x2 .x-gradient-green {
  background-image: url('../images/x-repeatable-bg/x2-s80d48c8702.png');
  background-size: 25px;
  background-repeat: repeat-x;
}

.dpr-x1 .x-gradient-orange {
  background-position: 0 -159px;
}
.dpr-x2 .x-gradient-orange {
  background-position: 0 -318px;
}

.dpr-x1 .x-gradient-beige {
  background-position: 0 0;
}
.dpr-x2 .x-gradient-beige {
  background-position: 0 0;
}

.dpr-x1 .x-gradient-green {
  background-position: 0 -318px;
}
.dpr-x2 .x-gradient-green {
  background-position: 0 -159px;
}

.dpr-x1 .y-gradient-orange, .dpr-x1 .y-gradient-beige, .dpr-x1 .y-gradient-green {
  background-image: url('../images/y-repeatable-bg/x1-sa9a0be6484.png');
  background-repeat: repeat-y;
}

.dpr-x2 .y-gradient-orange, .dpr-x2 .y-gradient-beige, .dpr-x2 .y-gradient-green {
  background-image: url('../images/y-repeatable-bg/x2-sb41ecd3f02.png');
  background-size: 477px;
  background-repeat: repeat-y;
}

.dpr-x1 .y-gradient-orange {
  background-position: -318px 0;
}
.dpr-x2 .y-gradient-orange {
  background-position: -318px 0;
}

.dpr-x1 .y-gradient-beige {
  background-position: 0 0;
}
.dpr-x2 .y-gradient-beige {
  background-position: 0 0;
}

.dpr-x1 .y-gradient-green {
  background-position: -159px 0;
}
.dpr-x2 .y-gradient-green {
  background-position: -159px 0;
}

.box {
  width: 139px;
  height: 139px;
  padding: 10px;
  border: 2px solid black;
  margin: 0 0 10px;
}
