@import 'repeat-x-bg';
@import 'repeat-y-bg';

// X方向リピート

.x-gradient-orange { @include repeat-x-bg(orange); }
.x-gradient-beige { @include repeat-x-bg(beige); }
.x-gradient-green { @include repeat-x-bg(green); }

// Y方向リピート

.y-gradient-orange { @include repeat-y-bg(orange); }
.y-gradient-beige { @include repeat-y-bg(beige); }
.y-gradient-green { @include repeat-y-bg(green); }

// デバッグ用

.box {
  width:139px;
  height:139px;
  padding:10px;
  border:2px solid black;
  margin:0 0 10px;
}
