//==========================================
// スプライトマップ群

// 等倍用
$icon-x1: sprite-map("icon/x1/*.png", $layout: smart);
// Retina用
$icon-x2: sprite-map("icon/x2/*.png", $layout: smart);

//==========================================
// スプライトの内容を出し分けるmixin

@mixin dpr-based-sprite-no-repeaat($map-x1, $map-x2, $name, $device-pixel-ratio) {

  // 等倍用
  @if $device-pixel-ratio == 1 {

    // スプライトのファイルから幅、高さを取得して指定
    $sprite-file: sprite-file($map-x1, $name);
    width: image-width($sprite-file);
    height: image-height($sprite-file);

    // スプライトの位置を取得して指定
    $position: sprite-position($map-x1, $name);
    background-position: $position;

  }

  // Retina用
  @if $device-pixel-ratio == 2 {

    // スプライトのファイルから幅、高さを取得
    // 2倍画像なので半分にする
    $sprite-file: sprite-file($map-x2, $name);
    width: image-width($sprite-file) / 2;
    height: image-height($sprite-file) / 2;

    // スプライトの位置を取得して指定
    // background-sizeで本来のサイズの1/2に縮めているので
    // X, Yもそれぞれ半分にする
    $position: sprite-position($map-x2, $name);
    $x: nth($position, 1) / 2;
    $y: nth($position, 2) / 2;
    background-position: $x $y;

  }

}

//==========================================
// アイコンのベースクラス

// 等倍用
%dpr1-icon-base {
  background-image: sprite-url($icon-x1);
}
// Retina用
%dpr2-icon-base {
  background-image: sprite-url($icon-x2);
  background-size: image-width(sprite-path($icon-x2)) / 2;
}

//==========================================
// 等倍用、Retina用のセレクタを出力するmixin

@mixin icon($name) {
  .dpr-x1 & {
    @extend %dpr1-icon-base;
    @include dpr-based-sprite-no-repeaat($icon-x1, $icon-x2, $name, 1);
  }
  .dpr-x2 & {
    @extend %dpr2-icon-base;
    @include dpr-based-sprite-no-repeaat($icon-x1, $icon-x2, $name, 2);
  }
}
