.dpr-1 li.nav1, .dpr-1 li.nav2, .dpr-1 li.nav3 {
  background: url('../images/diagonal-bg/x1-s064d532909.png') no-repeat;
}

.dpr-2 li.nav1, .dpr-2 li.nav2, .dpr-2 li.nav3 {
  background: url('../images/diagonal-bg/x2-sc5ee47c6f6.png') no-repeat;
  background-size: 90px;
}

body {
  padding: 20px;
}

ul {
  padding: 0;
  margin: 0 auto;
  max-width: 600px;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0 0 .7em 15px;
}
.dpr-1 li.nav1 {
  background-position: 0 -52px;
}
.dpr-2 li.nav1 {
  background-position: 0 -52px;
}
.dpr-1 li.nav2 {
  background-position: -30px -22px;
}
.dpr-2 li.nav2 {
  background-position: -30px -22px;
}
.dpr-1 li.nav3 {
  background-position: -60px 8px;
}
.dpr-2 li.nav3 {
  background-position: -60px 8px;
}
